/* *** COMPANIES *** */
.companies-wrapper {
  text-align: center;
  max-width: var(--centerColumn);
  margin: 0 auto;
}

.company-logos {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  place-items: center;
  gap: var(--gap);
  margin-top: 2.5rem;
}

.company-logos > img {
  width: 100px;
}
