/* *** CONTACT *** */
#contact {
  text-align: center;
  display: grid;
  gap: var(--gap);
  justify-items: center;
}

#contact > section {
  place-items: center;
  display: grid;
  gap: var(--gap);
  max-width: 40ch;
  margin: 0 auto;
}

#contact form {
  display: flex;
  gap: var(--gap);
  font-size: clamp(var(--mdText), 2vw, var(--lgText));
}

#contact .email {
  padding: 0.25rem;
}

#subscribe {
  padding: clamp(0, 8px, 0.25rem) clamp(0.5rem, 16px, 1.5rem);
  font-size: clamp(var(--mdText), 2vw, var(--lgText));
}

#contact strong {
  color: var(--heading);
  font-weight: bold;
  font-style: italic;
  font-size: var(--mdText);
}
