/* *** CONTACT *** */
#contact {
  padding: 2rem auto;
  text-align: center;
  display: grid;
  gap: 1rem;
  justify-items: center;
}

#contact > section {
  place-items: center;
  display: grid;
  gap: 1rem;
  max-width: 40ch;
  margin: 0 auto;
}

#contact form {
  width: 100%;
  display: flex;
  flex: 2 1;
  gap: 1rem;
  font-size: clamp(var(--mdText), 2vw, var(--lgText));
}

#contact .email {
  width: 100%;
}

#contact strong {
  color: var(--heading);
  font-weight: bold;
  font-style: italic;
}
