/* *** HEADER *** */
.header-wrapper {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr;
}

.menu {
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  gap: 1rem;
}

.logo,
.contact-btn {
  /* grid-row: 1/2;
  grid-column: 1/-1; */
  grid-area: 1/2 / 1/-1;
}

.contact-btn {
  padding: 0.25rem 1rem;
  justify-self: end;
  border-bottom: none;
}

.contact-btn > button {
  background: white;
  border: 1px solid var(--red);
  color: var(--red);
}

.contact-btn > button:hover {
  background: var(--red);
  color: var(--lightBlue);
}

.contact-btn:hover {
  border-bottom: none;
}
