/* *** HERO *** */
.hero {
  display: grid;
  gap: var(--gap);
  justify-items: center;
  max-width: var(--maxWidth);
  margin: 0 auto;
  grid-column: 2;
}

.hero-content {
  display: grid;
  gap: var(--gap);
  justify-items: start;
  max-width: 65ch;
}

.hero img {
  width: 100%;
}
