/* *** HERO *** */
.hero {
  display: grid;
  gap: 1rem;
  justify-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.hero-content {
  display: grid;
  gap: 1rem;
  justify-items: start;
  max-width: var(--ch);
}
