/* *** HERO *** */
.hero {
  display: grid;
  gap: 1rem;
  justify-items: center;
}

.hero-content {
  display: grid;
  gap: 1rem;
  justify-items: start;
  max-width: 40ch;
}

.hero img {
  padding: 2.5rem;
}
