/* *** Media Queries *** */
/* vertical tablet */
@media only screen and (min-width: 768px) {
  .header-wrapper {
    display: flex;
    justify-content: space-between;
  }

  /* *** Projects *** */
  .projects-wrapper article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    place-items: center;
  }

  .project-one > .project-text,
  .project-three > .project-text {
    grid-column: 2/-1;
  }

  .project-two > img {
    grid-column: 2/-1;
  }

  .project-image {
    width: 85%;
  }

  .project-two > .project-text {
    grid-row: 1/2;
  }

  /* *** COMPANIES *** */
  .company-logos {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1024px) {
  /* *** Hero *** */
  .hero {
    grid-template-columns: 1.5fr 1fr;
    gap: 5rem;
    place-items: center;
    grid-column: 1 / -1;
    /* 100vh minus the header height + padding */
    height: calc(100vh - 200px);
  }

  /* *** TESTIMONIALS *** */
  .testimonials-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* *** PRICING *** */
  .price-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
