/* *** PRICING *** */
#pricing,
.price-cards,
.price-card {
  display: grid;
  gap: 1rem;
  text-align: center;
}

.price-heading {
  margin-bottom: 2.5rem;
}

.price-cards {
  gap: 2.5rem;
  max-width: var(--centerColumn);
  margin: 0 auto;
}

.price-card {
  color: var(--lightBlue);
  justify-content: center;
  place-items: center;
  padding: var(--xlPadding);
}

.price-card > h3 {
  color: var(--lightBlue);
  font-weight: 700;
  text-transform: uppercase;
}

.price-card > p {
  font-size: var(--lgText);
}

.price {
  display: flex;
}

.price > span:first-child {
  position: relative;
  top: 5px;
}

.price > span:nth-child(2) {
  font-size: 5rem;
  line-height: 1;
  letter-spacing: -0.4rem;
}

.price > span:last-child {
  align-self: end;
  position: relative;
  bottom: 5px;
  left: 5px;
}

.price-card > button {
  background: var(--lightBlue);
  color: var(--red);
  border: none;
  transition: var(--transition);
}

.price-card > button:hover {
  background: var(--text);
  color: var(--lightBlue);
}

.personal {
  background: var(--yellow);
}

.agency {
  background: var(--red);
}

.enterprise {
  background: var(--purple);
}

.enterprise > button:focus {
  box-shadow: 0 0 0 3px var(--yellow);
}
