/* *** TESTIMONIALS *** */
#testimonials section {
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.testimonial {
  position: relative;
  display: grid;
}

.quote-box {
  background: url(../images/quote-box.svg) center no-repeat;
  height: 175px;
}

.quote-box > p {
  height: 145px;
  display: grid;
  place-items: center;
  text-align: left;
  margin: 0 auto;
  padding: 0.25rem 2rem;
  font-size: var(--lgText);
  font-style: italic;
  max-width: 40ch;
}

.customer {
  display: flex;
  gap: 1rem;
}

.customer > img {
  border-radius: 100%;
}

.customer-text > p {
  margin-top: 1rem;
}
