/* *** TESTIMONIALS *** */
.testimonials-title,
.testimonials-cards,
.testimonial {
  display: grid;
  gap: 2.5rem;
  justify-content: center;
  justify-items: center;
}

.testimonials-title {
  text-align: center;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
}

.testimonial {
  max-width: 40ch;
  box-shadow: var(--mdShadow);
  padding: var(--lgPadding);
  border-radius: var(--br);
  background: var(--lightBlue);
}

.testimonial > p {
  font-style: italic;
}

.customer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: clamp(var(--mdText), 2vw, var(--lgText));
}

.customer > img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.customer-text > h3 {
  font-size: var(--xlText);
}

.customer-text > p {
  font-size: var(--mdText);
}
