/* *** TESTIMONIALS *** */
#testimonials section {
  display: grid;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.testimonial {
  position: relative;
  display: grid;
  max-width: 40ch;
}

.testimonial > p {
  font-style: italic;
  box-shadow: var(--mdShadow);
  padding: var(--lgPadding);
  border-radius: var(--br);
}

.customer {
  display: flex;
  gap: 1rem;
  font-size: clamp(var(--mdText), 2vw, var(--lgText));
}

.customer > img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.customer-text > h3 {
  font-size: var(--xlText);
}

.customer-text > p {
  margin-top: 0.5rem;
}
